<footer class="footer">
    <div class="container">

        <div class="footerItems">

            <div class="logo">
                <a class="logo__pic" href="index.html"></a>
            </div>
            <div class="contacts">
                <p class="mainCaption">You can find me:</p>
            <div class="icons">
                <a href="https://www.instagram.com/selikhova_ph/" class="inst"></a>
                <a href="https://vk.com/mary_mo_photo" class="vk"></a>
                <a href="tel: +375293769871" class="tel"></a>
                <a href="mailto: maryiaselikhova@gmail.com" class="email"></a>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer>