@font-face {
	font-family: Damask;
	src: url(/fonts/Nymphette.ttf);
}

@font-face {
	font-family: Bilal;
	src: url(/fonts/Bilal.otf);
}

* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}

a:hover {
	text-decoration: none;
}

.headerItems {
	border: 0 solid #000000b3;
	transition: all 1s ease;

	.headerNav {
		.logo__pic {
			width: 218px;
			height: 117px;
			background: url(/img/logo.png);
			background-repeat: no-repeat;
			background-position: top;
			background-size: 100px;
			position: absolute;
			left: 5%;
			z-index: 2;

			a {
				background: url(/img/logo.png);
			}

		}

		.headerNavbar {
			justify-content: flex-end;
			display: flex;
			transition: all 1s ease;
		}
	}

	ul {
		display: flex;
		justify-content: center;

		li {
			padding: 15px;
			text-transform: uppercase;
		}

	}
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: all 0.7s ease;
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;

	&:hover {
		text-decoration: underline overline;
		color: gray;
	}
}

.section {
	display: flex;
	justify-content: space-between;

	.section__pic {
		overflow: hidden;
		width: 50%;
		position: relative;

		.categoryLink {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			text-transform: uppercase;
			letter-spacing: 1em;
			transition: all 1s ease;

		}

		img {
			width: 100%;
			transition: opacity 1s ease;
		}
	}

	.section_text {
		color: gray;
		padding: 20px;
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: center;

		.section__text {
			font-size: 20px;
		}
	}
}

.section__caption {
	padding-bottom: 10px;
	font-family: Bilal;
	font-size: 42px;

}

.mainCaption {
	padding: 50px;
	text-align: center;
	font-family: Bilal;
	color: black;

	h1 {
		font-size: 50px;

		&::before {
			font-family: Damask;
			content: '1';
		}

		&::after {
			font-family: Damask;

			content: '2';
		}
	}

}

.latestWorks_items {
	display: flex;
	justify-content: space-between;

	.latestWorks__item {
		width: 230px;
		height: 230px;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			transition: all 1s ease;

			&:hover {
				transform: scale(1.1);
			}
		}

	}
}

.reverse {
	flex-direction: row-reverse;
}

.carousel_text {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;

	img {
		width: 20%;
	}

	h1 {
		color: white;
		letter-spacing: 0.2em;
		font-size: 55px;

	}

	.underText {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1em;
	}
}

.fixed {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	// background: #fffc;
}

.bg {
	background: #fffc;
}

.border {
	border-bottom: 2px solid rgb(0, 0, 0);
}

.hidden {
	display: none;
}

.opacity {
	opacity: 0;
}

.opacityImg {
	opacity: 0.3;
}
.underText:hover {
	color: black;
}