* {
	list-style: none;
	text-decoration: none;
}

.carousel,
.headerItems {
	position: absolute;
	top: 0;
}

.headerItems {
	z-index: 1;
	border-bottom: 2px solid white;
	.logo {
		
		background: url(/img/logo.png);
		
	}

	ul {
		display: flex;
		justify-content: center;

		li {
			padding: 15px;
			text-transform: uppercase;
			cursor: pointer;
			a {
				color: white;
				text-decoration: none;
				transition: all 0.5s ease;
				&:hover {
					text-decoration: underline;
					color: gray;
				}
			}
			
		}

	}
}

body {
	font-family: roboto, sans-serif;
	color: rgb(255, 255, 255);
}