@font-face {
	font-family: Damask;
	src: url(../fonts/Nymphette.ttf);
}

@font-face {
	font-family: Bilal;
	src: url(../fonts/Bilal.otf);
}

* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}

a:hover {
	color: black;
}

.carousel__img {
	width: 100%;
}

.logo__pic {
	width: 218px;
	height: 100px;
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100px;
	position: absolute;
	z-index: 100000;

	@media (max-width: 636px) {
		background-size: 70px;
		width: 100px;
		height: 75px;
	}
}

.headerItems {
	border: 0 solid #000000b3;
	transition: all 1s ease;

	.headerNav {
		.headerNavbar {
			justify-content: flex-end;
			display: flex;
			transition: all 1s ease;
		}
	}

	ul {
		display: flex;
		justify-content: center;

		@media (max-width: 636px) {
			display: none;
		}

		li {
			padding: 15px;
			text-transform: uppercase;

			@media (max-width: 992px) {
				padding: 10px;
				font-size: 10px;
			}
		}

	}
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	transition: all 0.7s ease;
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;

	&:hover {
		text-decoration: underline overline;
	}
}

.section {
	display: flex;

	@media (max-width: 636px) {
		flex-direction: column;
	}

	.section__pic {
		overflow: hidden;
		width: 50%;
		position: relative;

		@media (max-width: 636px) {
			width: 100%;
		}

		.categoryLink {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			text-transform: uppercase;
			letter-spacing: 1em;
			transition: all 1s ease;

		}

		img {
			width: 100%;
			transition: opacity 1s ease;
		}
	}


	.section_text {
		color: gray;
		padding: 20px;
		width: 50%;
		display: flex;
		flex-flow: column;
		justify-content: center;

		@media (max-width: 636px) {
			width: 100%;
		}

		.section__text {
			font-size: 20px;

			@media (max-width: 992px) {
				font-size: 15px;
			}

		}
	}
}

.section__caption {
	padding-bottom: 10px;
	font-family: Bilal;
	font-size: 42px;

	@media (max-width: 421px) {
		font-size: 25px;
	}

}

.mainCaption {
	padding: 50px;
	text-align: center;
	font-family: Bilal;
	color: black;

	@media (max-width: 566px) {
		padding: 0px;
	}

	h1 {
		font-size: 50px;

		&::before {
			font-family: Damask;
			content: '1';
		}

		&::after {
			font-family: Damask;

			content: '2';
		}

		@media (max-width: 421px) {
			font-size: 30px;
		}
	}

}

.welcome {
	@media (max-width: 636px) {
		flex-direction: column-reverse;
	}
}

.latestWorks_items {
	display: flex;
	justify-content: space-between;
	@media (max-width: 375px) {
flex-wrap: wrap;	}

	.latestWorks__item {
		width: 230px;
		height: 230px;
		overflow: hidden;

		@media (max-width: 992px) {
			width: 150px;
			height: 150px;
		}

		@media (max-width: 636px) {
			width: 100px;
			height: 100px;
		}

		@media (max-width: 431px) {
			width: 80px;
			height: 80px;
			margin-bottom: 10px;
		}

		img {
			height: 100%;
			transition: all 1s ease;

			&:hover {
				transform: scale(1.1);
			}
		}

	}
}

.reverse {
	flex-direction: row-reverse;

	@media (max-width: 636px) {
		flex-direction: column;
	}
}

.carousel_text {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;

	img {
		width: 20%;

	}

	h1 {
		color: white;
		letter-spacing: 0.2em;
		font-size: 55px;

		@media (max-width: 992px) {
			font-size: 40px;
		}

		@media (max-width: 711px) {
			font-size: 30px;
		}

		@media (max-width: 566px) {
			font-size: 20px;
		}
		@media (max-width: 566px) {
			font-size: 10px;
		}

	}

	.underText {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1em;

		@media (max-width: 566px) {
			font-size: 10px;
		}
		@media (max-width: 566px) {
			font-size: 5px;
		}
	}
}


// footer 
.footer {
	margin-top: 60px;
	position: relative;
	border-top: 2px solid rgb(0, 0, 0);

	.footerItems {
		position: relative;
		padding: 20px;


		p {
			text-align: start;
			padding: 0;
			font-size: 20px;
		}

		.icons {
			display: flex;

			a {
				margin-right: 30px;
				background: url(../img/sprite.png);
				width: 50px;
				height: 50px;

				@media (max-width: 636px) {
					margin-right: 15px;
				}
				@media (max-width: 431px) {
					background-size: 1160%;
					width: 30px;
					height: 30px;
				}
			}

			.inst {
				background-position: -223px -22px;
				@media (max-width: 431px) {
					background-position: -138px -13.5px;
				}
			}

			.vk {
				background-position: -290px -23px;
				@media (max-width: 431px) {
					background-position: -179.5px -15px;
				}
			}

			.tel {
				background-position: -89px -155px;
				@media (max-width: 431px) {
					background-position: -55px -97px;
				}
			}

			.email {
				background-position: -156px -155px;
				@media (max-width: 431px) {
					background-position: -97px -97px;
				}
			}
		}

		.logo {
			.logo__pic {
				left: 80%;

				@media (max-width: 636px) {
					left: 68%;
					top: 38%;
				}
				@media (max-width: 375px) {
					display: none;
				}
			}
		}
	}
}


//button

.back_to_top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 999999;
	width: 50px;
	height: 50px;
	text-align: bottom;
	line-height: 30px;
	color: #444;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 20%;
	display: none;

	@media (max-width: 566px) {
		bottom: 20px;
		right: 10px;
		width: 40px;
		height: 40px;
	}

	i {
		position: relative;
		top: 15%;
		color: black;

		@media (max-width: 566px) {
			top: 10%;
		}
	}
}

.back_to_top:hover {
	background: #e9ebec;
}

.back_to_top-show {
	display: block;
}

//hamb
.burger {
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	margin: 10px;
	margin-right: 40px;
	display: none;
	transition: all 2s ease;

	@media (max-width: 636px) {
		display: flex;
	}

	span {
		border: 2px solid #000;
		border-radius: 10px;
		width: 40px;
		margin: 3px;
		background: black;
	}
}

.hambMenu {
	border: 2px solid gray;

}

.burgerMenu {
	opacity: 1;
	transition: all 2s ease;
}

.headerItems .burgerItems {
	flex-direction: column;
	align-items: center;

	@media (max-width: 636px) {
		display: flex;

	}
}

.displayFlex {
	display: flex;
}

.fixed {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
}

.bg {
	background: #fffc;
}

.border {
	border-bottom: 2px solid rgb(0, 0, 0);
}

.hidden {
	display: none;
}

.opacity {
	opacity: 0;
}

.opacityImg {
	opacity: 0.3;
}