.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 421px) {
        flex-direction: column;
	}
}
.album {
    display: flex;
    flex-direction: column;
    width: 32%;
    @media (max-width: 421px) {
        width: 100%;
	}

    .album__item {
        margin-bottom: 20px;
        overflow: hidden;
        img {
            width: 100%;
            transition: all 1s ease;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}
.portfolio {
    flex-direction: column;
    align-items: center;
}