.prices {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .kit {
        padding: 20px;
        margin-bottom: 20px;
        width: 30%;
        text-align: center;
        background-color: #f3f3f37a;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
        }

        .kitPic {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .kitPrice {
            ul {
                padding-left: 0;

                li {
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

.kit>*:last-child {
    margin-block-start: auto;
}

.form {
    padding: 0 150px 0 150px;

    @media (max-width: 818px) {
        padding: 0 80px 0 80px;
    }

    @media (max-width: 636px) {
        padding: 0 20px 0 20px;

    }

    @media (max-width: 375px) {
        padding: 0;
    }
}

form {
    display: flex;
    flex-direction: column;

    input {
        margin: 10px;
        padding: 5px;
        width: 100%;
        border: 2px solid gray;
        border-radius: 20px;
        height: 70px;
        font-size: 30px;
    }
}

#sendMsg {
    margin: 20px;
    padding: 14px;
    width: 30%;
    border: 3px solid #808080;
    border-radius: 20px;
    height: 80px;
    background: rgb(255, 255, 255);
    cursor: pointer;

    &:hover {
        background: rgb(233, 231, 231);

    }
}

.empty {
    background: #ff00001f;
    border: 2px solid #620808;
}

.success {
    content: " ";

    color: green;
}

.questions{
    display: flex;
}
.questionsColumn{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question {
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px solid #808080;
    height: 110px;
    transition: all 0.5s ease;
    position: relative;
    background-color: #f3f3f37a;
h1 {
    font-size: 25px;
    padding: 10px;}
    span {
        position: absolute;
        top: 8px;
        right: 12px;
        cursor: pointer;
        transition: all 1s ease;
        font-size: 20px;
        color: rgb(71, 69, 69);
    }
    .answer {
        padding: 25px;
    }
}
.quesHeight {
    height: 210px;
}
.rotateIcon {
    transform: rotate(45deg);
}