.prices {
    display: flex;
    justify-content: space-between;

    .kit {
        padding: 20px;
        width: 30%;
        text-align: center;
        background-color: #f3f3f37a;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .kitPic {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .kitPrice {
            ul {
                padding-left: 0;
                li {
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}
.kit>*:last-child{
margin-block-start: auto;}