.prices {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .kit {
        padding: 20px;
        margin-bottom: 20px;
        width: 30%;
        text-align: center;
        background-color: #f3f3f37a;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            width: 100%;
        }
        .kitPic {
            img {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .kitPrice {
            ul {
                padding-left: 0;

                li {
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

.kit>*:last-child {
    margin-block-start: auto;
}

form {
    display: flex;
    flex-direction: column;

    input {
        margin: 10px;
        padding: 5px;
        width: 100%;
        border: 2px solid gray;
        border-radius: 20px;
        height: 70px;
        font-size: 30px;
    }
}
#sendMsg {
    margin: 20px;
    padding: 14px;
    width: 30%;
    border: 3px solid #808080;
    border-radius: 20px;
    height: 80px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    &:hover {
        background: rgb(233, 231, 231);

    }
}